<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Falible</title>
        <meta charset="utf-8">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
         <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
         <link rel="stylesheet" href="/style.css">
         <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1><a href="/index.html">Falible</a></h1>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <img src="/img/jaime_lopez.jpg" class="img-circle"/>
                </div>
                <div class="col-sm-8 text-left">
                    <small>
                        <p><strong>Jaime Lopez - personal site</strong><br/>
                        Social Researcher and Data Analyst
                        </p>
                        <p>"No hay pájaro pequeño que después de alzar el vuelo
                        se detenga en su volar" [There isn't small bird, come on
                        that in mid-air, come on to stop its fly] (El sombrero azul, Ali
                        Primera).</p>
                        <p>
                            <a href="https://www.linkedin.com/in/jaime-l%C3%B3pez-a7b471b3/"><img src="/img/linkedin.png"/></a>
                            <a href="https://twitter.com/jailopsv"><img src="/img/twitter.png"/></a>
                        </p>
                    </small>
                </div>
            </div>
            <div class="row">
              {{ content }}
            </div>
            <div class="row text-center">
                <hr/>
                <small>
                (c) 2019 - Jaime Lopez [jailop AT protonmail DOT com]
                </small>
            </div>
        </div>
    </body>
</html>

