@media (min-width: 1200px) {
    .container{
        max-width: 720px;
    }
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 150;
    padding-left: 10px;
    padding-right: 10px;
}

article p {
  text-align: justify;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 180%;
}
